flask==3.1.0
flask-wtf==1.2.2
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
wtforms==3.2.1
email-validator==2.2.0
requests==2.32.3
beautifulsoup4==4.12.3
jsbeautifier==1.15.1
weasyprint==62.3
